<div *ngIf="posts.length; else loading">
  <section class="card_list">
    <div class="card_wrap">
      <div class="mat-elevation-z5" *ngFor="let post of posts">
        <div>
          <h2 class="post-name">{{ post.name }}</h2>
          <!-- <p>{{post.date | date : 'mediumDate'}}</p> -->
        </div>

        <div class="post-content">
          <img [src]="post.avatar" class="post-avatar" />
          <p class="post-description">{{ post.description }}</p>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
